.card {
  background-color: white;
  cursor: default;
  overflow: hidden;
  &.draggable {
    cursor: pointer;
  }

  /* overwritten by unicode-mode below */
  border: 2px solid black;
  border-radius: 8px;
  padding: 6px;
  height: 120px;
  width: 80px;
  /*****/

  &.card-back {
    --c : rgba(255,255,255,0.7);
    --t : transparent;
  	background-image:
    -webkit-repeating-linear-gradient(45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0),
    -webkit-repeating-linear-gradient(135deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0),
    -webkit-linear-gradient(top left, #8235fc, #0abf29);
  	background-image:
    repeating-linear-gradient(45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0),
    repeating-linear-gradient(-45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0),
    linear-gradient(to bottom right, #8235fc, #0abf29);
    background-clip: content-box;
  }
  &.card-hearts, &.card-diamonds {
    color: red;
  }
  &.card-spades, &.card-clubs {
    color: black;
  }
  .card-inner {
    .top-left {
      width: 17px;
      text-align: center;
      display: inline-block;
      .rank {
        font-size: 15px;
      }
      .suit {
        font-size: 10px;
      }
    }
    .pips {
      display: inline-flex;
      flex-wrap: wrap;
      border: 1px solid red;
      .pip {

      }
    }
  }
}

.unicode-mode {
  .card {
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 121px;
    width: 91px;
    font-size: 150px;
    .card-symbol {
      margin: -45px 0 0 -7px;
      padding: 0;
    }
  }
}
